@charset "UTF-8";
@font-face {
  font-family: 'tokyo-onesolid';
  src: url("../css/tokyo-onesolid_bigfontsite.com.ttf") format("truetype");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Helvetica Neue", メイリオ, Meiryo, "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
  width: 100%;
  /* 画像を枠の100%の横幅にする */
  height: auto;
  /* 高さは自動で設定する */
  min-width: 1440px;
}

body {
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.5;
  background-color: #EDEDED;
}

.tokyoone {
  font-family: 'tokyo-onesolid', sans-serif;
  letter-spacing: 3px;
}

#slide-wrapper .slides .slide-inner {
  text-align: center;
  display: block;
  width: 100%;
  height: 540px;
}

#slide-wrapper .slides .slide-inner .slide-img {
  max-width: 100%;
  width: 960px;
  height: 540px;
  display: inline-block;
}

#slide-wrapper .slides .slide-inner .emblem {
  height: 230px;
  width: 200px;
  display: inline-block;
  margin: 0 40px;
}

#slide-wrapper .slides .slide-black {
  background-color: black;
}

#slide-wrapper .slides .slide-green {
  background-color: #046938;
}

#slide-wrapper .slides .slide-bambaataa {
  width: 100%;
  height: 540px;
  background-image: url(../img/tv_web_back.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#slide-wrapper .slides .slide-bambaataa .emblemBack {
  display: flex;
  align-items: center;
  justify-content: center;
}

#slide-wrapper .slides .slide-bambaataa .bambaataa-text {
  font-size: 4.2rem;
  line-height: 63px;
  font-weight: 700;
  color: white;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#slide-wrapper .slides .slide-bambaataa .bambaataa-text .tokyoone {
  color: #A89A68;
}

#about {
  height: 514px;
  width: 100%;
  background-color: #046938;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}

#about .about-inner {
  height: auto;
  margin-right: 240px;
  margin-left: 240px;
}

#about .about-inner h2 {
  font-size: 48px;
  letter-spacing: 3px;
  margin-bottom: 25px;
}

#about .about-inner .about-intro {
  display: flex;
  width: 935px;
}

#about .about-inner .about-intro .flex-item {
  margin-right: 60px;
}

#about .about-inner .emblem img {
  width: 200px;
  height: 230px;
}

#philosophy {
  padding-top: 85px;
}

#philosophy .section-inner {
  margin-right: 240px;
  margin-left: 240px;
  line-height: 1;
}

#philosophy .section-inner h2 {
  margin-bottom: 30px;
}

#philosophy .section-inner .p-h2 {
  font-size: 4.8rem;
  color: #046938;
}

#philosophy .section-inner .p-p {
  font-size: 1.3rem;
  color: #046938;
}

#philosophy .section-inner .flex {
  display: flex;
  align-items: center;
  background-color: white;
  margin-top: 10px;
  height: 90px;
  width: auto;
  padding: 25px 85px;
  font-weight: 700;
}

#philosophy .section-inner .flex h4 {
  color: #046938;
  font-size: 3.2rem;
  letter-spacing: 30px;
  margin-right: 90px;
}

#philosophy .section-inner .flex p {
  font-size: 1.8rem;
  line-height: 27px;
}

#philosophy .operation {
  padding-top: 50px;
  font-weight: 700;
}

#philosophy .operation h3 {
  font-size: 36px;
  color: #046938;
  font-weight: 700;
  text-align: center;
}

#philosophy .operation h4:after {
  content: "";
  display: table;
  width: 100px;
  height: 2px;
  background: #FFF;
  margin: 15px auto;
}

#philosophy .operation ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#philosophy .operation ul li:nth-child(2n) {
  margin-left: 1%;
}

#philosophy .operation .o-list {
  background-color: #046938;
  width: 33%;
  height: 173px;
  padding: 20px 0;
  margin-right: 1%;
  margin-top: 30px;
  text-align: center;
}

#philosophy .operation .o-list h4 {
  font-size: 4.4rem;
  line-height: 1;
  color: #A89A68;
}

#philosophy .operation .o-list p {
  font-size: 1.3rem;
  color: white;
  line-height: 20px;
}

#philosophy .operation-desc {
  text-align: center;
  padding-top: 30px;
}

#philosophy .operation-desc span {
  letter-spacing: 0;
}

#philosophy .operation-desc p {
  margin-top: 14px;
  line-height: 21px;
}

#staff {
  width: 100%;
  background-color: #046938;
  margin-top: 160px;
  color: #fff;
}

#staff .section-inner {
  width: 960px;
  margin: 0 auto;
  padding-top: 85px;
  padding-bottom: 85px;
}

#staff .staff-title {
  font-size: 1.3rem;
}

#staff .staff-title span {
  display: block;
  font-size: 4.8rem;
  line-height: 1;
}

#staff .staff-text {
  margin-bottom: 64px;
  font-size: 1.3rem;
}

#staff ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-bottom: 40px;
}

#staff ul .staff-list {
  width: calc((100% - 40px) / 3);
}

#staff ul .staff-list .list-img {
  width: 100%;
  height: 190px;
}

#staff ul .staff-list .list-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#staff ul .staff-list .list-text {
  height: 200px;
  padding-top: 16px;
  padding-left: 16px;
  background-color: #034f2a;
}

#staff ul .staff-list .list-text > span {
  font-size: 1.6rem;
  letter-spacing: .04em;
  color: #A89A68;
}

#staff ul .staff-list .list-text h3 {
  margin-bottom: 16px;
  font-size: 1.8rem;
  font-weight: bold;
}

#staff ul .staff-list .list-text h3 span {
  margin-left: 20px;
}

#staff ul .staff-list .list-text p {
  font-size: 1.3rem;
  font-weight: bold;
}

#staff .staff-text-bottom {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 2px solid #A89A68;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.6;
}

#policy {
  width: 100%;
}

#policy .section-inner {
  width: 960px;
  margin: 0 auto;
  padding-top: 85px;
  padding-bottom: 40px;
}

#policy .policy-title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 1.3rem;
  color: #046938;
}

#policy .policy-title span {
  display: block;
  font-size: 4.8rem;
  line-height: 1;
}

#policy .policy-slides {
  width: 700px;
  margin: 0 auto;
}

#policy .policy-list {
  width: 100%;
  height: 500px;
  background-image: url(../img/policy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 14px;
}

#policy .policy-list h3 {
  margin-bottom: 44px;
  text-align: center;
  font-size: 3.2rem;
  font-weight: bold;
  color: #fff;
}

#policy .policy-list-text p {
  margin-bottom: 32px;
  padding-left: 48px;
  font-size: 2.0rem;
  color: #fff;
}

#policy .policy-list-text p:nth-of-type(3) {
  margin-bottom: 0;
}

#policy .policy-list-text p span {
  display: block;
  font-size: 2.2rem;
  font-weight: bold;
  color: #A89A68;
}

#policy .slick-prev {
  left: 10px;
}

#policy .slick-next {
  right: 10px;
}

#category {
  width: 100%;
  background-color: #046938;
}

#category .section-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 960px;
  margin: 0 auto;
  padding-top: 85px;
  padding-bottom: 85px;
}

#category .category-title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
}

#category .category-title span {
  display: block;
  font-size: 4.8rem;
  line-height: 1;
}

#category .overview, #category .schedule {
  width: calc((100% - 40px) / 2);
}

#category .overview-list, #category .schedule-list {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  margin-bottom: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5rem;
}

#category .overview-list dt, #category .schedule-list dt {
  width: 128px;
  text-align: center;
  color: #046938;
}

#category .overview-list dd, #category .schedule-list dd {
  width: calc(100% - 128px);
  padding-right: 10px;
}

#entry {
  width: 100%;
  background-color: #034f2a;
}

#entry .section-inner {
  width: 960px;
  margin: 0 auto;
  padding-top: 85px;
  padding-bottom: 85px;
}

#entry h2 {
  margin-bottom: 16px;
  text-align: center;
  font-size: 4.8rem;
  color: #A89A68;
  line-height: 1;
}

#entry p {
  margin-bottom: 100px;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}

#entry ul {
  display: flex;
  justify-content: space-between;
}

#entry .entry-list {
  text-align: center;
}

#entry .entry-list > span {
  font-size: 1.3rem;
  color: #fff;
}

#entry .entry-btn {
  position: relative;
  margin-bottom: 10px;
}

#entry .entry-btn button {
  cursor: default;
}

#entry .entry-btn a {
  display: block;
  padding: 16px 20px;
  background-color: #d00;
  border-radius: 40px;
  font-size: 2.8rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: .1em;
}

#entry .entry-btn a:hover {
  opacity: .9;
  transition: .1s;
}

#entry .entry-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: -60px;
  left: 50%;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(-45deg) skew(16deg, 16deg) translateX(-50%);
}

#entry .entry-btn::after {
  content: "";
  display: block;
  position: absolute;
  top: -50px;
  left: 50%;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(-45deg) skew(16deg, 16deg) translateX(-50%);
}

#academies {
  height: 350px;
  background-color: black;
  padding: 80px 0;
}

#academies h2 {
  margin-bottom: 30px;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#academies ul {
  max-width: 970px;
  margin: 0 auto;
  display: flex;
}

#academies ul li {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding: 5px;
}

#academies ul li a {
  display: block;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 30px 0;
  line-height: 1;
  text-decoration: none;
  text-align: center;
}

#academies ul li a .tokyoone {
  color: #A89A68;
  font-size: 3rem;
  letter-spacing: 1px;
}

#academies ul li a .ja {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  display: block;
  margin-top: 15px;
}

#banner {
  height: 255px;
  padding: 60px 0;
}

#banner .content {
  width: 1100px;
  margin: 0 auto;
}

#banner .content a {
  display: inline-block;
  width: 49%;
}

#banner .content img {
  width: 100%;
  height: auto;
  border: 5px solid #a89968;
}

#footer {
  background-color: #046938;
  color: white;
}

#footer .content {
  padding: 0 171px;
}

#footer .content ul {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

#footer .content ul li {
  padding: 0 2em;
}

.copyright {
  background-color: #034f2a;
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.copyright em {
  display: inline-block;
  margin: 30px 0;
  font-style: normal;
}
/*# sourceMappingURL=style.css.map */